.main {
  margin: 0 auto;
  min-height: $height;
}

// HEADER:
.header {
  min-height: 50px;
  border-bottom: lighten($color-base, 40);
}

// AVISO:
.aviso {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: $height;

  font: {
    variant: small-caps;
    size: 2rem;
  }

  color: $color-base;

  footer {
    border-top: 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;

    width: $width;
    text-align: center;
    background-color: rgba($color-base, 0.06);
  }
}